.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  color: green;
  padding: '20px';
}
:root {
  /*fonts*/
  --catamaran-font: 'Catamaran', sans-serif;
  --mulish-font: 'Mulish', sans-serif;
  /*colors*/
  --primary-color: #f7b035;
  --secondary-color: #256b3e;
  --body-bg-color: #1d1d1d;
  --border-color: #555555;
  --success-color: #4f8a10;
  --error-color: #d8000c;
  --info-color: #31708f;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--mulish-font);
}

body {
  background-color: var(--body-bg-color);
  color: var(--just-white);
}

button {
  border: none;
  background: none;
}

.button-primary {
  background-color: var(--primary-color);
  border: none;
  font-family: var(--mulish-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto;
  width: 112px;
  height: 36px;
  cursor: pointer;
}
